<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MFA</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mfa.styles.css" asp-append-version="true" />
</head>
<body>
    @if (ViewData["IsMfa"] != null && (bool)ViewData["IsMfa"])
        {
            <!-- MFA navigatie -->
            <nav class="navbar">
                <div class="navbar-container">
                <a href="/" class="navbar-brand">
                <img src="~/logo-200.png" alt="Logo" style="height: 40px;"/>
                <span class="navbar-title-one">Proactive Privacy - MFA Proof of Concept</span>
                </a>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a href="/Account/Error501" class="navbar-brand">
                                <span class="navbar-title">Exercises</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Account/Error501" class="navbar-brand">
                                <span class="navbar-title">Privacy Notice</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Error501" method="get" class="nav-form">
                                <button type="submit" class="btn-login">Account</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
        else {
            <nav class="navbar">
                <div class="navbar-container">
                    <a href="/" class="navbar-brand">
                    <img src="~/logo-200.png" alt="Logo" style="height: 40px;"/>
                    <span class="navbar-title-one">Proactive Privacy - MFA Proof of Concept</span>
                    </a>
                    <div class="navbar-collapse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a href="/Account/Error501" class="navbar-brand">
                                <span class="navbar-title">Exercises</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Account/Error501" class="navbar-brand">
                                <span class="navbar-title">Privacy Notice</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Login" asp-action="Index" method="get" class="nav-form">
                                <button type="submit" class="btn-login">Login</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
