@{
    ViewData["Title"] = "501 - Not implemented";
}

<div class="centered-container">
    <div class="content-box">
        <h1 class="display-center">501 - Not implemented</h1>
        <p class="display-center">
            This functionality is not implemented in this DEMO.
        </p>
    </div>
</div>
