@{
    ViewData["Title"] = "Home Page";
}

<div class="demo-container">
    <div class="content-box">
        <h1 class="display-3 fw-bold text-primary mb-4">Welcome to this DEMO app</h1>
        <p class="lead text-secondary mb-4">
            This webapplication serves as Proof-of-Concept for an implementation of Multi-Factor Authentication (MFA).
        </p>
    </div>
</div>
